<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Users Data</title>
</head>
<body>
    <table border="1">
        <thead>
            <th><b>First Name</b></th>
            <th><b>Last Name</b></th>
            <th><b>User Name</b></th>
            <th><b>Password</b></th>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{user['firstname']}}</td>
                <td>{{user['lastname']}}</td>
                <td>{{user['username']}}</td>
                <td>{{user['password']}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>